*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(49, 49, 49);
    color: white;
}

.border{
    border: 1px solid red;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.295);
    transition: all 0.35;
}


.sidebar-header{
    width: 100%;
    margin-bottom: 16px;

}
.logo-img{
    width: 38px;
    min-height: 38px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s;
    margin-left: 8px;
}

.logo-img:hover{
    transform: scale(1.5);
}

.sidebar button{
    height: 60px;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 60px;
    padding: 0 12px 0 12px;
    border-radius: 25px;
    line-height: 1;
    transition: all 0.03;
}

.sidebar button:hover > span{
    background-color: rgba(255, 255, 255, 0.08);
}

.sidebar button i{
    position: relative;
    font-size: 20px;
    transition: 0.2s;
}

.sidebar button span{
    font-size: 16px;
}

.sidebar > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main{
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
    padding: auto;
    font-family: sans-serif;    
}

@media (width < 920px){
    .sidebar{
        width: 100px;
    }

    .sidebar button > span{
        width: 150px;
    }

    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
    }

    .main{
        transition: margin 0.4s;
        margin-left: 120px;
    }
}

.button-mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    background: transparent;
    color: white;
    border: 0;
}

.button-mobile span{
    font-size: 24px;
    margin-left: 8px;
}

.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: rgb(49, 49, 49);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}

.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}

.mobile-text{
    font-size: 22px;
    margin-left: 8ox;
}

.button-close span > i{
    font-size: 40px;
}

@media (max-width: 480px){
    .sidebar{
        display: none;
    }

    .button-mobile{
        display: flex;
    }

    .main{
        margin-left: 6px;
    }
}